In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
pwd

In [ ]:
ls

In [ ]:
####Reloading Data###### cool stuff

with pd.HDFStore("all_data.h5") as store:
    giss_temp = store["pandas_tutorial/climate_timeseries/data/temperatures/giss"]
    full_globe_temp = store["pandas_tutorial/climate_timeseries/data/temperatures/full_globe"]
    mean_sea_level=store["pandas_tutorial/climate_timeseries/data/sea_level/mean_sea_level"]
    local_sea_level_stations=store['pandas_tutorial/climate_timeseries/data/sea_level/stations']
    greenhouse_gaz=store['pandas_tutorial/climate_timeseries/data/greenhouse_gaz']

In [ ]:
full_globe_temp

In [ ]:
#Querying the data

In [ ]:
full_globe_temp['2009']

In [ ]:
first_date= full_globe_temp.index[0]

In [ ]:
first_date == pd.to_datetime('1880')

In [ ]:
full_globe_temp.dtypes

In [ ]:
#change the datatype of tghe index
full_globe_temp.index=full_globe_temp.index.astype('datetime64[ns]')

In [ ]:
full_globe_temp.index.dtype

In [ ]:
full_globe_temp

In [ ]:
full_globe_temp.loc[pd.to_datetime('1990')]

In [ ]:
#year of the last record
full_globe_temp.index[-1]

In [ ]:
#New record addition
full_globe_temp[pd.to_datetime('2011')] = np.nan

In [ ]:
type(full_globe_temp)

In [ ]:
full_globe_temp.loc[pd.to_datetime('2009')]

In [ ]:
giss_temp

In [ ]:
giss_temp['Jan']

In [ ]:
#quering this data
giss_temp.loc['1979',['Jan','Feb']]

In [ ]:
#change the datatype of the column
giss_temp.index=giss_temp.index.astype(np.int64)

In [ ]:
#https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/
giss_temp.loc[[1978,1991],['Jan','Feb']]

In [ ]:
giss_temp.loc[[1978,1991],'Jan':'Feb']

In [ ]:
giss_temp.loc[[1978,1991],:]

In [ ]:
#look at iloc -- Good read
giss_temp.iloc[[1,3,6],[1,2,5]]

In [ ]:
###getting total at the end of the rows
giss_temp['Totals'] = giss_temp.sum(axis=1)

In [ ]:
giss_temp

In [ ]:
giss_temp.drop("Totals",axis=1)

In [ ]:
#True false values mask - What a method?
american_stations = local_sea_level_stations.Country == 'USA'

type(american_stations)

In [ ]:
local_sea_level_stations.loc[american_stations,["ID","Station Name"]]

In [ ]:
#Find Eurpean Countries based on the latitude and longitude
#list of Lats that qualify
lat=list()
for i in local_sea_level_stations.Lat:
    if( i >=30 and i<=70):
        lat.append(True)
    else:
        lat.append(False)
lat=pd.Series(lat)       
lon=list()
for i in local_sea_level_stations.Lon:
    if( i >=-10 and i<=40):
        lon.append(True)
    else:
        lon.append(False)
        
lon=pd.Series(lon)

In [ ]:
satistied_longitude=local_sea_level_stations.loc[lon,['Country','Lat','Lon']]

In [ ]:
satistied_all = satistied_longitude.loc[lat,['Country','Lat','Lon']]

In [ ]:
EuropeanCountries=satistied_all.Country.unique()

In [ ]:
EuropeanCountries

In [ ]:
######
lat_solution=(local_sea_level_stations.Lat >30) & (local_sea_level_stations.Lat < 70)

In [ ]:
len(lat_solution)

In [ ]:
lon_solution=(local_sea_level_stations.Lon > -10) & (local_sea_level_stations.Lon < 40)

In [ ]:
solution1 = local_sea_level_stations.loc[lat_solution, : ]

In [ ]:
solution2 = solution1.loc[lon_solution, : ]

In [ ]:
solution2.Country.unique()

In [ ]:
#date time
#to period to datetime
#resampling
#time(quarterly)
#sortby in pandas